@{
    ViewData["Title"] = "Ana Sayfa Ekranı";
}

<div class="text-center">
    <h1 class="display-4">Araba Kiralama Sitesi Projesi</h1>
    <img src="~/images/rentresim.jpg" alt="Araba kiralama resmi" style="width: 100%; display: block; margin: 0 auto;">
</div>
